<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>

    <appSettings>
        <add key="DatabaseServer" value="(localdb)\MSSQLLocalDB"/>
        <add key="DatabaseName" value="RipplesMQ"/>
        <add key="DatabaseServer1" value="TD0620.tst-ressource.sdc.dk\TDSQL0620"/>
        <add key="DatabaseName1" value="ABJA_Ripples"/>
        <add key="LogLevel" value="Warning"/>
    </appSettings>
</configuration>